/JavaTests/nbproject/private/
/JavaTests/build/
/javaServlet/nbproject/private/
/javaServlet/build/
/servletTest/nbproject/private/
/servletTest/build/
/practical/nbproject/private/
/layoutmgt/nbproject/private/
/swingapps/nbproject/private/
/eventhandle/nbproject/private/